doctype html
html(lang="en")
  head
    title Manuel Osorio - CSS Grid
    meta(charset="utf-8")
    meta(name="Author" content="Manuel Osorio")
    meta(name="robots" content="noindex, nofollow")
    link(rel="stylesheet" href="css/style.css")
  body
    main.container--grid
      h1 The Avengers Have Arrived!
      div.image__wrapper
        .img--1
          img(src="images/spideyFlip.jpg" alt="")
        .img--2
          img(src="images/doraMilaj.jpg" alt="")
        .img--3
          img(src="images/bw_thor_captM.jpg" alt="")
      div.card
        .card__group
          card.card__image
            img(src="images/spideySwing.jpg" alt="")
          div.card__right
            div.card__controller
              button.btn.btn--prev &#9664;
              button.btn.btn--next &#9654;
            div.card__info
              h3 Disney Tickets Now On sale!
              a.btn Order Yours Today!
